#add_me {
  position: fixed;
  bottom: 50px;
  left: 10px;
  padding: 10px 20px;
  background-color: #9c98e5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#add_me:hover {
  background-color: #3229dd;
}

.add_me {
  position: fixed;
  bottom: 100px;
  left: 10px;
  display: block;
  padding: 20px 40px;
  background-color: #9c98e5;
  color: white;
  border: none;
  border-radius: 5px;
}

.hide {
  display: none;
}
